.analis {
  width: 46px;
  height: 44px;
}

.facebook {
  width: 64px;
  height: 64px;
}

.linkedin {
  width: 64px;
  height: 64px;
}

.logo_240_120_black {
  width: 241px;
  height: 121px;
}

.logo_240_120_white {
  width: 241px;
  height: 141px;
}

.logo_redmoon_smol {
  width: 163.3px;
  height: 110px;
}

.logo_redmoon_smol_white {
  width: 130px;
  height: 98px;
}

.logo_redmoon_white {
  width: 230px;
  height: 105px;
}

._automation {
  width: 64px;
  height: 64px;
}

._big-data {
  width: 64px;
  height: 64px;
}

._content {
  width: 64px;
  height: 64px;
}

._cosial_media {
  width: 64px;
  height: 64px;
}

._design {
  width: 64px;
  height: 64px;
}

._development {
  width: 64px;
  height: 64px;
}

._ecommerce {
  width: 64px;
  height: 64px;
}

._ecommers {
  width: 64px;
  height: 64px;
}

._full-development-cycle {
  width: 64px;
  height: 64px;
}

._full-mobility {
  width: 64px;
  height: 64px;
}

._marceting {
  width: 64px;
  height: 64px;
}

._media {
  width: 64px;
  height: 64px;
}

._quality-assurance {
  width: 64px;
  height: 64px;
}

._seo {
  width: 64px;
  height: 64px;
}

._social-lan {
  width: 64px;
  height: 64px;
}

._sphere_design-1 {
  width: 64px;
  height: 64px;
}

._sphere_design-2 {
  width: 64px;
  height: 64px;
}

._sphere_design-3 {
  width: 64px;
  height: 64px;
}

._sphere_design-4 {
  width: 64px;
  height: 64px;
}

._sphere_design-5 {
  width: 64px;
  height: 64px;
}

._sphere_design-6 {
  width: 64px;
  height: 64px;
}

._training {
  width: 64px;
  height: 64px;
}

._web-apps {
  width: 64px;
  height: 64px;
}

._webapps {
  width: 64px;
  height: 64px;
}

