@import "vars";
@import "smart-grid";

.reset();

.wrapper {
  .wrapper();
}

.viber {
  fill: #7F40BD;
  width: calc(@w_social / 1.5);
  .sm(width, calc(@w_social / 2));
}

.mail {
  fill: @grey_middle;
  width: calc(@w_social / 1.5);
  .sm(width, calc(@w_social / 2));
}

.phone {
  width: 20px;
  fill: @grey_middle;
  .sm(width, 16px);
}

.skype {
  width: calc(@w_social / 1.5);
  .sm(width, calc(@w_social / 2));
}

.in {
  background-color: #0077b5;
  border-radius: 5px;
  padding: 5px;
  width: calc(@w_social - 10px);
  fill: #fff;
  .g_fil_hov();
  .hover();
}

.fb {
  width: calc(@w_social / 1.8);
  fill: #3B5998;
  .g_fil_hov();
  .hover();
}

.instagram {
  width: @w_social;
  .g_fil_hov();
  .hover();
}

.footer-inf {
  .row-flex();
  padding-bottom: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(120, 117, 118, .2);
}

.contact {
  .col();
  .size(4);
  .size-md(6);
  .sm(font-size, 18px);
  .size-xs(12);
  .xs(justify-content, center);
  margin-top: 20px;
  font-size: 22px;
  display: flex;

  li {
    a {
      margin-right: 10px;
      display: flex;
      align-items: center;
      &:hover{
        text-decoration: none;
        fill: @red_middel;
      }
      span {
        margin-left: 10px;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  .col();
  .size(4);
  .size-md(12);
  .size-sm(12);
  .size-xs(12);
  margin-top: 20px;
  &_item {
    margin-right: 20px;

  }
  .instagram{
    display: inline-block;
  }
}