@grey_middle: #787576;
@red_middel: #F74642;

@w_social: 50px;

.g_fil_hov(){
  filter: grayscale(100%);
  transition: .5s;
}

.hover(){
  &:hover{
    filter: grayscale(0%);
    transition: .5s;
  }
}
