---
import Layout from '../layouts/Layout.astro';
---

<Layout title="RedMoonItCompany" description="Red moon it company page by astro">
	<main>
		<div class="background-home">
			<img src="images/home/bg-home-07_.jpg" alt="background home">
			<div class="title-name">
				<h1>Мы делаем решения для бизнеса</h1>
			</div>
			<div id="arrowAnim">
				<div class="arrowSliding">
					<div class="arrow"></div>
				</div>
				<div class="arrowSliding delay1">
					<div class="arrow"></div>
				</div>
				<div class="arrowSliding delay2">
					<div class="arrow"></div>
				</div>
				<div class="arrowSliding delay3">
					<div class="arrow"></div>
				</div>
			</div>
		</div>

		<section class="circleRotator circleRotator--first">
			<div class="wrapper">
				<div class="row-rm">
					<div class="circleRotator-wrapper">
						<div class="circleRotator-circle" style="transform: rotate(0deg);">
							<div class="circleRotator-item circleRotator-item--1 circleRotator-item--active" data-num="0">
								<div class="circleRotator-num">1</div>
								<svg role="img" class="_development circleRotator-icon icon">
									<use xlink:href="images/svg/svg-symbols.svg#_development"></use>
								</svg>
								<div class="circleRotator-name">Web-решения</div>
								<div class="circleRotatorBackground">
									<svg role="img" class="_development circleRotatorBackground-img icon">
										<use xlink:href="images/svg/svg-symbols.svg#_development"></use>
									</svg>
								</div>
							</div>
							<div class="circleRotator-item circleRotator-item--2" data-num="1">
								<div class="circleRotator-num">2</div>
								<svg role="img" class="_design circleRotator-icon icon">
									<use xlink:href="images/svg/svg-symbols.svg#_design"></use>
								</svg>
								<div class="circleRotator-name">Web-дизайн</div>
								<div class="circleRotatorBackground">
									<svg role="img" class="_design circleRotatorBackground-img icon">
										<use xlink:href="images/svg/svg-symbols.svg#_design"></use>
									</svg>
								</div>
							</div>
							<div class="circleRotator-item circleRotator-item--3" data-num="2">
								<div class="circleRotator-num">3</div>
								<svg role="img" class="_marceting circleRotator-icon icon">
									<use xlink:href="images/svg/svg-symbols.svg#_marceting"></use>
								</svg>
								<div class="circleRotator-name">Маркетинг и реклама</div>
								<div class="circleRotatorBackground">
									<svg role="img" class="_marceting circleRotatorBackground-img icon">
										<use xlink:href="images/svg/svg-symbols.svg#_marceting"></use>
									</svg>
								</div>
							</div>
							<div class="circleRotator-item circleRotator-item--4" data-num="3">
								<div class="circleRotator-num">4</div>
								<svg role="img" class="_seo circleRotator-icon icon">
									<use xlink:href="images/svg/svg-symbols.svg#_seo"></use>
								</svg>
								<div class="circleRotator-name">SEO</div>
								<div class="circleRotatorBackground">
									<svg role="img" class="_seo circleRotatorBackground-img icon">
										<use xlink:href="images/svg/svg-symbols.svg#_seo"></use>
									</svg>
								</div>
							</div>
						</div>
						<div class="circleRotator-info">
							<div class="circleRotator-heading">
								<h2>Автоматизация бизнес процессов</h2>
							</div>

							<div class="circleRotator-description">
								<p>Redmoon - имеет большой опыт работы с интернет бизнесом, предоставляет весь спектр услуг,
									охватывающих все этапы разработки и автоматизации бизнес-процессов, от понимания
									потребности клиента до обучения пользователей и их поддержки в дальнейшем.</p>
								<p>Мы предоставляем услуги полного цикла в области разработки программного обеспечения,
									веб-решений для предприятий, веб-приложений и проектирование порталов.</p>

								<p>Мы объединяем наш опыт в области ведения бизнеса, технические навыки, глубокие знания
									последних тенденций в отрасли и модель построения с учетом качества, позволяют предлагать
									прогрессивные, сквозные веб-решения.</p>
							</div>
						</div>
					</div>
					<div class="circleRotator-container">
						<div class="circleRotatorContent">
							<div class="circleRotatorContent-item circleRotatorContent-item--active" data-num="0"
								 style="display: block;">
								<div class="circleRotator-title">
									<h3>Разработка<br>Web-решений</h3>
								</div>
								<ul>
									<li>Разработка сайтов</li>
									<li>Разработка интернет-магазинов</li>
									<li>Разработка В2В порталов</li>
									<li>Разработка Web-приложений</li>
									<li>Машинное обучение</li>
									<li>Мобильные приложения</li>
									<li>Обслуживание и поддержка</li>
								</ul>
							</div>
							<div class="circleRotatorContent-item" data-num="1" style="display: none;">
								<div class="circleRotator-title">
									<h3>Web-дизайн</h3>
								</div>
								<ul>
									<li>UX/UI</li>
									<li>Разработка респонсив макетов сайтов</li>
									<li>Разработка рекламных баннеров</li>
									<li>Создание фирменных стилей</li>
								</ul>
							</div>
							<div class="circleRotatorContent-item" data-num="2" style="display: none;">
								<div class="circleRotator-title">
									<h3>Маркетинг и реклама</h3>
								</div>
								<ul>
									<li>Полный цикл ведения и настройки контекстной рекламы</li>
									<li>Аналитика для Вашего бизнеса</li>
									<li>e-mail рассылка, от идеи до реализации</li>
									<li>Подключение и настройка прайс агрегаторов</li>
								</ul>
							</div>

							<div class="circleRotatorContent-item" data-num="3" style="display: none;">
								<div class="circleRotator-title">
									<h3>SEO</h3>
								</div>
								<ul>
									<li>Комплексное Seo-продвижение проекта</li>
									<li>Тех задание по Seo на этапе разработки сайта</li>
									<li>Технический Seo-аудит сайта</li>
									<li>Внутренняя оптимизация</li>
									<li>Внешняя оптимизация</li>
								</ul>
							</div>
						</div>

						<div class="circleRotatorPagination">
							<a href="#" class="circleRotatorPagination-arrow circleRotatorPagination-prev"></a>
							<a href="#" class="circleRotatorPagination-item circleRotatorPagination-item--active"
							   data-num="0"></a>
							<a href="#" class="circleRotatorPagination-item" data-num="1"></a>
							<a href="#" class="circleRotatorPagination-item" data-num="2"></a>
							<a href="#" class="circleRotatorPagination-item" data-num="3"></a>
							<a href="#" class="circleRotatorPagination-arrow circleRotatorPagination-next"></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="cards bgcolor--white columns--4 cards--page-main-2 icons--white heading--big">
			<div class="wrapper-full full">
				<div class="heading">
					<div class="heading-title">
						<h3>Более <i class="heading-color heading-color--green">5 лет</i> экспертизы online бизнеса</h3>
					</div>
					<div class="heading-description">
						<p>Простые решения для сложных бизнес задач</p>
					</div>
				</div>
				<div class="row-rm row">
					<div class="row-background row-background--1"
						 style="background-image: url(images/home/development_bg.jpg)"></div><!-- 51 -->
					<div class="row-background row-background--2"
						 style="background-image: url(images/home/ecommerce_bg.jpg)"></div><!-- 54 -->
					<div class="row-background row-background--3"
						 style="background-image: url(images/home/design_bg.jpg)"></div><!-- 56 -->
					<div class="row-background row-background--4"
						 style="background-image: url(images/home/seo_bg.jpg)"></div><!-- 57 -->
					<div class="row-background row-background--7"
						 style="background-image: url(images/home/marketing_bg_.jpg)"></div><!-- 58 -->
					<div class="row-background row-background--8"
						 style="background-image: url(images/home/social_bg.jpg)"></div><!-- 53 -->
					<div class="column">
						<a href="" class="column-content cards-item icons--hover-white">
							<div class="cards-wrapper">
								<div class="cards-item-link-image"
									 style="background-image: url(images/home/development_bg_smoll.jpg);"
									 data-background="1"></div><!-- 51 -->
								<div class="cards-icon">
									<svg role="img" class="_development icon">
										<use xlink:href="images/svg/svg-symbols.svg#_development"></use>
									</svg>
								</div>
								<div class="cards-name">
									<h4>Web приложения <br/> и B2B порталы</h4>
								</div>
								<div class="cards-text">
									<p>Автоматизация Вашего бизнеса <!--Уникальный UI дизайн и мощный функционал--></p>
								</div>
							</div>
						</a></div>
					<div class="column">
						<a href="" class="column-content cards-item icons--hover-white">
							<div class="cards-wrapper">
								<div class="cards-item-link-image"
									 style="background-image: url(images/home/ecommerce_bg_soll.jpg);"
									 data-background="2"></div><!-- 54 -->
								<div class="cards-icon">
									<svg role="img" class="_ecommers icon">
										<use xlink:href="images/svg/svg-symbols.svg#_ecommers"></use>
									</svg>
								</div>
								<div class="cards-name">
									<h4>Ecommerce</h4>
								</div>
								<div class="cards-text">
									<p>Решения для электронной коммерции</p>
								</div>
							</div>
						</a></div>
					<div class="column">
						<a href="" class="column-content cards-item icons--hover-white">
							<div class="cards-wrapper">
								<div class="cards-item-link-image"
									 style="background-image: url(images/home/design_bg_smoll.jpg);"
									 data-background="3"></div><!-- 56 -->
								<div class="cards-icon">
									<svg role="img" class="_design icon">
										<use xlink:href="images/svg/svg-symbols.svg#_design"></use>
									</svg>
								</div>
								<div class="cards-name">
									<h4>Web-дизайн</h4>
								</div>
								<div class="cards-text">
									<p>UX/UI, разработка адаптивных макетов сайтов</p>
								</div>
							</div>
						</a></div>
					<div class="column">
						<a href="" class="column-content cards-item icons--hover-white">
							<div class="cards-wrapper">
								<div class="cards-item-link-image"
									 style="background-image: url(images/home/marketing_bg_smoll_.jpg);"
									 data-background="7"></div><!-- 58 -->
								<div class="cards-icon">
									<svg role="img" class="_marceting icon">
										<use xlink:href="images/svg/svg-symbols.svg#_marceting"></use>
									</svg>
								</div>
								<div class="cards-name">
									<h4>Маркетинг и реклама</h4>
								</div>
								<div class="cards-text">
									<p>Продвижение Вашего бизнеса</p>
								</div>
							</div>
						</a></div>
					<div class="column">
						<a href="" class="column-content cards-item icons--hover-white">
							<div class="cards-wrapper">
								<div class="cards-item-link-image"
									 style="background-image: url(images/home/seo_bg_smoll.jpg);"
									 data-background="4"></div><!-- 57 -->
								<div class="cards-icon">
									<svg role="img" class="_seo icon">
										<use xlink:href="images/svg/svg-symbols.svg#_seo"></use>
									</svg>
								</div>
								<div class="cards-name">
									<h4>SEO</h4>
								</div>
								<div class="cards-text">
									<p>Оптимизация и технический seo-аудит сайта</p>
								</div>
							</div>
						</a></div>
					<div class="column">
						<a href="" class="column-content cards-item icons--hover-white">
							<div class="cards-wrapper">
								<div class="cards-item-link-image"
									 style="background-image: url(images/home/social_bg_smoll.jpg);"
									 data-background="8"></div><!-- 53 -->
								<div class="cards-icon">
									<svg role="img" class="_cosial_media icon">
										<use xlink:href="images/svg/svg-symbols.svg#_cosial_media"></use>
									</svg>
								</div>
								<div class="cards-name">
									<h4>Социальные <br/>сети</h4>
								</div>
								<div class="cards-text">
									<p>Ведение Вашего бизнеса в социальных сетях</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section class="text-block">
			<div class="wrapper">
				<div class="title-name">
					<h2><span class="red_color">red</span>Moon в цифрах</h2>
				</div>
			</div>
		</section>

		<section class="statistics">
			<div class="wrapper">
				<div class="row-rm">
					<div class="statistics-col">
						<div class="statistics-item">
							<!--<div class="statistics-title">Mobile Experience</div>-->
							<div class="statistics-num"><span class="number">5</span><span
								class="statistics-percent">лет</span></div>
							<div class="statistics-description">Более 5 лет опыта разработки и внедрения</div>
						</div>
					</div>
					<div class="statistics-col">
						<div class="statistics-item">
							<!--<div class="statistics-title">Device Diversity</div>-->
							<div class="statistics-num"><span class="number">20</span><span
								class="statistics-percent">+</span></div>
							<div class="statistics-description">Более 20 готовых проектов и бизнес решений</div>
						</div>
					</div>
					<div class="statistics-col">
						<div class="statistics-item">
							<!--<div class="statistics-title">Business Impact</div>-->
							<div class="statistics-num"><span class="number">50</span><span
								class="statistics-percent">+</span></div>
							<div class="statistics-description">Более 50 видов предоставляемых услуг</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main>
</Layout>
