---
import Layout from '../layouts/Layout.astro';

---

<Layout title="RedMoonItCompany" description="Red moon it company page by astro">
    <main>
        <div class="background-price">
            <div class="wrapper">
                <div class="price-row">
                    <div class="title">
                        <div class="title-name">
                            <h1>Услуги и их стоимость</h1>
                        </div>
                        <div class="title-text">
                            <p>Мы используем индивидуальный подход к нашим клиентам.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pricepage">
            <div class="wrapper">
                <div class="row-rm">
                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-orange">
                            <h2>Разработка:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Сайт-визитка</li>
                                <li class="pricepage-price"><span>от</span> $350</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Сайт-каталог</li>
                                <li class="pricepage-price"><span>от</span> $400</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Интернет-магазин</li>
                                <li class="pricepage-price"><span>от</span> $600</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">В2В портал</li>
                                <li class="pricepage-price"><span>от</span> $1500</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Маркетплэйс</li>
                                <li class="pricepage-price"><span>от</span> $1500</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Сайты бронирования (booking)</li>
                                <li class="pricepage-price"><span>от</span> $450</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Верстка макета</li>
                                <li class="pricepage-price"><span>от</span> $200</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Написание Технического Задания</li>
                                <li class="pricepage-price"><span>от</span> $300</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Построение БД для сайтов</li>
                                <li class="pricepage-price"><span>от</span> $300</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-blue">
                            <h2>Дизайн:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Баннера</li>
                                <li class="pricepage-price"><span>от</span> $12</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Макеты страниц сайта</li>
                                <li class="pricepage-price"><span>от</span> $30</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Логотипы</li>
                                <li class="pricepage-price"><span>от</span> $20</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Инфографика</li>
                                <li class="pricepage-price"><span>от</span> $40</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">UX/UI прототипирование</li>
                                <li class="pricepage-price"><span>от</span> $100</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Дизайны приложений</li>
                                <li class="pricepage-price"><span>от</span> $150</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Дизайн Web-интерфейсов</li>
                                <li class="pricepage-price"><span>от</span> $80</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Дизайн e-mail писем</li>
                                <li class="pricepage-price"><span>от</span> $80</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-aqua">
                            <h2>SEO:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Комплексное SEO-продвижение проекта</li>
                                <li class="pricepage-price"><span>от</span> $500<span>мес.</span></li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Техническое задание по SEO на этапе разработки сайта</li>
                                <li class="pricepage-price"><span>от</span> $500</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Технический SEO-аудит сайта</li>
                                <li class="pricepage-price"><span>от</span> $300</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Внутренняя оптимизация</li>
                                <li class="pricepage-price"><span>от</span> $10 <span>стр.</span></li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Внешняя оптимизация</li>
                                <li class="pricepage-price"> 30% <span>от</span> <span>бюджета</span></li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Расширение структуры сайта</li>
                                <li class="pricepage-price"><span>от</span> $200</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Снятие санкций с поисковых систем</li>
                                <li class="pricepage-price"><span>от</span> $180</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-red">
                            <h2>Контент:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Написание продающих текстов для сайта</li>
                                <li class="pricepage-price"><span>от</span> $40</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Написание обзоров</li>
                                <li class="pricepage-price"><span>от</span> $20</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Написание статей</li>
                                <li class="pricepage-price"><span>от</span> $20</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Поиск и подготовка контента на товары</li>
                                <li class="pricepage-price"><span>от</span> $5 <span>поз.</span></li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-green">
                            <h2> Реклама:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Контекстная реклама</li>
                                <li class="pricepage-price"><span>от</span> $200</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Подключение и настройка аналитики</li>
                                <li class="pricepage-price"><span>от</span> $50</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Аудит контекстной рекламы</li>
                                <li class="pricepage-price"><span>от</span> $150</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">e-mail-рассылки</li>
                                <li class="pricepage-price"><span>от</span> $200</li>
                            </ul>
                        </div>
                    </div>

                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-l-blue">
                            <h2>Площадки для продажи:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Подключение прайс-агрегаторов</li>
                                <li class="pricepage-price"><span>от</span> $80</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Подключение маркет плэйс Розетки</li>
                                <li class="pricepage-price"><span>от</span> $80</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Подключение маркет плэйс prom.ua</li>
                                <li class="pricepage-price"><span>от</span> $80</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricepage-services">
                        <div class="pricepage-service pricepage-purple">
                            <h2>Соц.сети:</h2>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Администрирование и ведение сообщества</li>
                                <li class="pricepage-price"><span>от</span> $180</li>
                            </ul>
                        </div>
                        <div class="pricepage-item">
                            <ul>
                                <li class="pricepage-service-name">Ведение таргетированной рекламы</li>
                                <li class="pricepage-price"><span>от</span> $150</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</Layout>
