<header class="header">
    <div class="wrapper">
        <div class="row-rm">
            <div class="header-line">
                <div class="logo">
                    <a href="/" title="Redmoon">
                        <svg id="logo_redmoon_white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241 121"
                             width="241" height="141">
                            <g id="gradient">
                                <g>
                                    <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="140.7614"
                                                    y1="10.8477" x2="29.0766"
                                                    y2="32.8941">
                                        <stop offset="0" style="stop-color:#ECB076"/>
                                        <stop offset="0.6359" style="stop-color:#8D0000"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_1_)" d="M109.8,6.7C80.7,4.3,54,17.9,38.2,40.1C54.8,18.9,80.3,6.3,107.7,8.5c14.5,1.2,27.9,6.4,39.1,14.5
			c0.8-0.7,1.7-1.4,2.6-2C138.1,13,124.6,7.9,109.8,6.7z"/>
                                    <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="170.7543"
                                                    y1="56.3647" x2="180.7316"
                                                    y2="77.5097">
                                        <stop offset="0" style="stop-color:#ECB076"/>
                                        <stop offset="0.2208" style="stop-color:#D17E54"/>
                                        <stop offset="0.4822" style="stop-color:#B44830"/>
                                        <stop offset="0.7087" style="stop-color:#9F2116"/>
                                        <stop offset="0.8888" style="stop-color:#920906"/>
                                        <stop offset="1" style="stop-color:#8D0000"/>
                                    </linearGradient>
                                    <path fill="url(#SVGID_2_)" d="M175.6,58.8c4.8,11.6,7.3,24.5,7,37.9c0.2-1.6,0.4-3.3,0.6-4.9c1-12.4-0.9-24.3-5.1-35.1
			C177.3,57.5,176.5,58.2,175.6,58.8z"/>
                                    <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="193.6689"
                                                    y1="8.6132" x2="159.509"
                                                    y2="42.7731">
                                        <stop offset="0.1588" style="stop-color:#892326"/>
                                        <stop offset="0.341" style="stop-color:#D1734D;stop-opacity:0.7"/>
                                        <stop offset="0.4175" style="stop-color:#D8855A"/>
                                        <stop offset="0.5103" style="stop-color:#D47F57"/>
                                        <stop offset="0.8134" style="stop-color:#A43333"/>
                                        <stop offset="0.922" style="stop-color:#892326"/>
                                    </linearGradient>
                                    <circle fill="url(#SVGID_3_)" cx="162.2" cy="40.1" r="20.5"/>
                                </g>
                                <path fill="currentColor" d="M192.8,96.7V38.4h8.3l18.6,29.5c4.2,6.8,7.7,13,10.4,19l0.3-0.1c-0.7-7.8-0.9-14.9-0.9-24V38.4h7.1v58.4
		H229l-18.5-29.6c-4.1-6.5-8-13.2-10.8-19.5l-0.3,0.1c0.4,7.4,0.5,14.4,0.5,24.1v24.9H192.8z"/>
                                <path fill="currentColor" d="M55,71.1c-0.4-8.1-1-18-1-25.2h-0.2c-2.1,6.8-4.4,14.1-7.4,22.2L36.2,96.4h-5.7L21,68.6
		c-2.8-8.3-5-15.8-6.7-22.7h-0.2c-0.2,7.3-0.6,17-1.1,25.8l-1.6,25H4.2l4.1-58.4h9.6l10,28.2c2.4,7.2,4.3,13.6,5.9,19.7H34
		c1.6-5.9,3.6-12.3,6.2-19.7l10.4-28.2h9.6l3.6,58.4h-7.5L55,71.1z"/>
                                <path fill="currentColor" d="M101.8,42.9c13.5,0,24.5,11,24.5,24.5c0,13.5-11,24.5-24.5,24.5c-13.5,0-24.5-11-24.5-24.5
		C77.3,53.9,88.3,42.9,101.8,42.9 M101.8,37.9c-16.3,0-29.5,13.2-29.5,29.5s13.2,29.5,29.5,29.5s29.5-13.2,29.5-29.5
		S118.1,37.9,101.8,37.9L101.8,37.9z"/>
                                <g id="redmoonitcompany">
                                    <path id="R" fill="#881E1B" d="M4.2,105.5l0-2.1c0,0,0-0.1,0.1-0.1l4.6,0c1.2,0,2.1,0.9,2.1,2.1l0,2.5c0,1.2-1,2.1-2.1,2.1l-1.5,0
			c0,0-0.1,0-0.1,0.1l1.4,4.3c0,0,0,0.1-0.1,0.1H6.5c0,0-0.1,0-0.1,0l-2.2-6.6c0,0,0-0.1,0.1-0.1l3.9,0c0.3,0,0.5-0.2,0.5-0.5l0-1.2
			c0-0.3-0.2-0.5-0.5-0.5L4.2,105.5C4.3,105.6,4.2,105.6,4.2,105.5z"/>
                                    <path id="_x2D_" fill="#881E1B" d="M23.2,103.4v2.1c0,0,0,0.1-0.1,0.1h-6.6c0,0-0.1,0-0.1-0.1v-2.1c0,0,0-0.1,0.1-0.1L23.2,103.4
			C23.2,103.3,23.2,103.4,23.2,103.4z"/>
                                    <path id="_x2D__1_" fill="#881E1B" d="M23.2,107.9v2.1c0,0,0,0.1-0.1,0.1h-6.6c0,0-0.1,0-0.1-0.1v-2.1c0,0,0-0.1,0.1-0.1
			L23.2,107.9C23.2,107.8,23.2,107.9,23.2,107.9z"/>
                                    <path id="_x2D__2_" fill="#881E1B" d="M23.2,112.4v2.1c0,0,0,0.1-0.1,0.1h-6.6c0,0-0.1,0-0.1-0.1v-2.1c0,0,0-0.1,0.1-0.1
			L23.2,112.4C23.2,112.3,23.2,112.4,23.2,112.4z"/>
                                    <path id="D" fill="#881E1B" d="M28.6,103.3h4.6c1.2,0,2.1,1,2.1,2.1l0,7c0,1.2-0.9,2.1-2.1,2.1h-4.6c0,0,0,0,0,0v-6.6c0,0,0,0,0,0
			h2.1c0,0,0.1,0,0.1,0.1l0,4.4c0,0,0,0.1,0.1,0.1l1.7,0c0.3,0,0.5-0.2,0.5-0.5l0-5.7c0-0.3-0.2-0.5-0.5-0.5h-4c0,0,0,0,0,0
			L28.6,103.3C28.5,103.4,28.6,103.3,28.6,103.3z"/>
                                    <path id="M" fill="currentColor" d="M48.6,103.3h2.2c0,0,0,0,0,0l2.2,4.4c0,0,0.1,0,0.1,0l2.2-4.3c0,0,0,0,0.1,0h2.2c0,0,0.1,0,0.1,0.1
			v11.1c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-6.3c0-0.1-0.1-0.1-0.1,0l-2.1,4.1c0,0-0.1,0-0.1,0l-2.1-4.1c0-0.1-0.1,0-0.1,0
			l0,6.3c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1L48.6,103.3C48.5,103.4,48.6,103.3,48.6,103.3z"/>
                                    <path id="O_1_" fill="currentColor" d="M67.6,103.3h-2.5c-1.2,0-2.1,0.9-2.1,2.1l0,7.1c0,1.2,0.9,2.1,2.1,2.1h2.5c1.2,0,2.1-1,2.1-2.1
			v-7C69.7,104.3,68.8,103.3,67.6,103.3z M67.5,111.9c0,0.3-0.2,0.5-0.5,0.5l-1.3,0c-0.3,0-0.5-0.2-0.5-0.5v-5.8
			c0-0.3,0.2-0.5,0.5-0.5l1.3,0c0.3,0,0.5,0.2,0.5,0.5L67.5,111.9z"/>
                                    <path id="O" fill="currentColor" d="M79.7,103.3h-2.5c-1.2,0-2.1,0.9-2.1,2.1l0,7.1c0,1.2,0.9,2.1,2.1,2.1h2.5c1.2,0,2.1-1,2.1-2.1v-7
			C81.8,104.3,80.9,103.3,79.7,103.3z M79.6,111.9c0,0.3-0.2,0.5-0.5,0.5l-1.3,0c-0.3,0-0.5-0.2-0.5-0.5v-5.8c0-0.3,0.2-0.5,0.5-0.5
			l1.3,0c0.3,0,0.5,0.2,0.5,0.5L79.6,111.9z"/>
                                    <path id="N" fill="currentColor" d="M87.3,103.4l2.1,0c0,0,0.1,0,0.1,0l2.1,4.5c0,0.1,0.1,0,0.1,0l0-4.5c0,0,0-0.1,0.1-0.1h2.1
			c0,0,0.1,0,0.1,0.1l0,11.1c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-1.3c0,0,0,0,0-0.1l-2.1-4.6c0-0.1-0.1,0-0.1,0l0,5.9
			c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1L87.3,103.4C87.2,103.4,87.3,103.4,87.3,103.4z"/>
                                    <path id="I" fill="currentColor" d="M107.3,103.3h2.1c0,0,0.1,0,0.1,0.1v11.1c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1L107.3,103.3
			C107.2,103.4,107.3,103.3,107.3,103.3z"/>
                                    <path id="T" fill="currentColor" d="M115,103.3h6.6c0,0,0.1,0,0.1,0.1v2.1c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1,0.1l0,8.9
			c0,0,0,0.1-0.1,0.1l-2.1,0c0,0-0.1,0-0.1-0.1l0-8.9c0,0,0-0.1-0.1-0.1l-2.1,0c0,0-0.1,0-0.1-0.1L115,103.3
			C115,103.4,115,103.3,115,103.3z"/>
                                    <path id="_x2D_-" fill="currentColor" d="M135,107.8l6.6,0c0,0,0.1,0,0.1,0.1v2.1c0,0,0,0.1-0.1,0.1H135c0,0,0,0,0,0L135,107.8
			C135,107.9,135,107.8,135,107.8z"/>
                                    <path id="C" fill="currentColor" d="M157,103.3l2.6,0c1.1,0,2.1,0.9,2.1,2.1v2.4c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-1.7
			c0-0.3-0.2-0.5-0.5-0.5l-1.3,0c-0.3,0-0.5,0.2-0.5,0.5v5.8c0,0.3,0.2,0.5,0.5,0.5h1.3c0.3,0,0.5-0.2,0.5-0.5l0-1.7
			c0,0,0-0.1,0.1-0.1l2.1,0c0.1,0,0.1,0,0.1,0.1v2.3c0,1.2-0.9,2.1-2.1,2.1H157c-1.2,0-2.1-0.9-2.1-2.1l0-7
			C154.9,104.3,155.8,103.3,157,103.3z"/>
                                    <path id="O_2_" fill="currentColor" d="M171.6,103.3h-2.5c-1.2,0-2.1,0.9-2.1,2.1l0,7.1c0,1.2,0.9,2.1,2.1,2.1h2.5c1.2,0,2.1-1,2.1-2.1
			v-7C173.7,104.3,172.8,103.3,171.6,103.3z M171.5,111.9c0,0.3-0.2,0.5-0.5,0.5l-1.3,0c-0.3,0-0.5-0.2-0.5-0.5v-5.8
			c0-0.3,0.2-0.5,0.5-0.5l1.3,0c0.3,0,0.5,0.2,0.5,0.5L171.5,111.9z"/>
                                    <path id="M_1_" fill="currentColor" d="M179.2,103.3h2.2c0,0,0,0,0,0l2.2,4.4c0,0,0.1,0,0.1,0l2.2-4.3c0,0,0,0,0.1,0h2.2
			c0,0,0.1,0,0.1,0.1v11.1c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-6.3c0-0.1-0.1-0.1-0.1,0l-2.1,4.1c0,0-0.1,0-0.1,0l-2.1-4.1
			c0-0.1-0.1,0-0.1,0l0,6.3c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1L179.2,103.3C179.1,103.4,179.2,103.3,179.2,103.3z"/>
                                    <path id="P" fill="currentColor" d="M193.7,103.3l4.6,0c1.2,0,2.1,0.9,2.1,2.1v2.5c0,1.2-1,2.1-2.1,2.1l-2.3,0c-0.1,0-0.1,0-0.1,0.1
			l0,4.3c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-6.6c0,0,0-0.1,0.1-0.1l3.9,0c0.3,0,0.5-0.2,0.5-0.5l0-1.3
			c0-0.3-0.2-0.5-0.5-0.5l-3.9,0c0,0-0.1,0-0.1-0.1L193.7,103.3C193.6,103.4,193.6,103.3,193.7,103.3z"/>
                                    <path id="A" fill="currentColor" d="M210.4,103.3l-2.5,0c-1.2,0-2.1,0.9-2.1,2.1l0,9.1c0,0,0,0.1,0.1,0.1h2.1c0,0,0.1,0,0.1-0.1v-4.4
			c0,0,0,0,0,0l2.1,0c0,0,0,0,0,0l0,4.4c0,0,0,0.1,0.1,0.1h2.1c0,0,0.1,0,0.1-0.1v-9C212.5,104.3,211.6,103.3,210.4,103.3z
			 M210.2,107.8C210.2,107.8,210.2,107.8,210.2,107.8l-2.2,0.1c0,0-0.1,0-0.1-0.1v-1.6c0-0.3,0.2-0.6,0.6-0.6l1.2,0
			c0.3,0,0.5,0.2,0.5,0.5L210.2,107.8z"/>
                                    <path id="N_1_" fill="currentColor" d="M218,103.3l2.1,0c0,0,0.1,0,0.1,0l2.1,4.5c0,0.1,0.1,0,0.1,0l0-4.5c0,0,0-0.1,0.1-0.1h2.1
			c0,0,0.1,0,0.1,0.1l0,11.1c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-1.3c0,0,0,0,0-0.1l-2.1-4.6c0-0.1-0.1,0-0.1,0l0,5.9
			c0,0,0,0.1-0.1,0.1H218c0,0-0.1,0-0.1-0.1L218,103.3C217.9,103.4,217.9,103.3,218,103.3z"/>
                                    <path id="Y" fill="currentColor" d="M230.1,103.3h2.1c0,0,0,0,0,0l1,2.6c0,0.1,0.1,0.1,0.1,0l1.1-2.6c0,0,0,0,0,0l2.1,0
			c0,0,0.1,0,0.1,0.1l-2.2,5.5v5.6c0,0,0,0.1-0.1,0.1h-2.1c0,0-0.1,0-0.1-0.1l0-5.6L230.1,103.3
			C230.1,103.4,230.1,103.3,230.1,103.3z"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <nav class="navigation">
                    <ul class="navigationList">
                        <li class="first expanded navigationList-item"><a href="about.html" class="navigationList-link">Компания</a>
                            <ul class="navigationDropdown">
                                <li class="first leaf navigationDropdown-item">
                                    <a href="../about-us.html" class="navigationDropdown-link">О нас</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../job-vacancy.html" class="navigationDropdown-link">Вакансии</a>
                                </li>
                            </ul>
                        </li>
                        <li class="expanded navigationList-item">
                            <a href="" class="navigationList-link">Услуги</a>
                            <ul class="navigationDropdown">
                                <li class="first leaf navigationDropdown-item">
                                    <a href="../services/requirements-engineering.html" class="navigationDropdown-link">Разработка
                                        Web решений</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../pages/design.html" class="navigationDropdown-link">Прототипирование
                                        и Web дизайн</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../services/custom-software-development.html"
                                       class="navigationDropdown-link">Маркетинг и реклама</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../services/application-integration.html" class="navigationDropdown-link">SEO</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../services/quality-assurance-testing.html"
                                       class="navigationDropdown-link">Соц. Сети</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../services/maintenance-and-support.html" class="navigationDropdown-link">Обслуживание
                                        и поддержка</a>
                                </li>
                            </ul>
                        </li>
                        <li class="expanded navigationList-item">
                            <a href="../technologies.html" class="navigationList-link">Технологии</a>
                            <ul class="navigationDropdown">
                                <li class="first leaf navigationDropdown-item">
                                    <a href="dotnet-development.html" class="navigationDropdown-link">.NET</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../java-development.html" class="navigationDropdown-link">Java</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="ruby-on-rails-development.html" class="navigationDropdown-link">Ruby on
                                        Rails</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../php-development.html" class="navigationDropdown-link">PHP</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="python-development.html" class="navigationDropdown-link">Python</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../backend-development.html" class="navigationDropdown-link">Backend</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="../frontend-development.html" class="navigationDropdown-link">Frontend</a>
                                </li>
                                <li class="leaf navigationDropdown-item">
                                    <a href="cloud-solutions.html" class="navigationDropdown-link">Cloud</a>
                                </li>
                                <li class="last leaf navigationDropdown-item">
                                    <a href="mobile-technologies.html" class="navigationDropdown-link">Mobile
                                        Platforms</a>
                                </li>
                            </ul>
                        </li>
                        <li class="leaf navigationList-item">
                            <a href="/price.html" class="navigationList-link">Цены</a>
                        </li>
                        <li class="leaf navigationList-item">
                            <a href="../pages/portfolio.php" class="navigationList-link">Портфолио</a>
                        </li>
                        <li class="last leaf navigationList-item--border navigationList-item">
                            <a href="/contact.html" class="navigationList-link">Контакты</a>
                        </li>
                    </ul>
                    <a class="burger">
                        <span class="burger-item burger-item--1"></span>
                        <span class="burger-item burger-item--2"></span>
                        <span class="burger-item burger-item--3"></span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="mobileNavigation-wrapp">
    <div id="mobileNavigation" class="mobileNavigation">
        <ul class="mobileNavigationList">
            <!-- <li class="mobileNavigationList-item first">
                 <a href="#https://www.iflexion.com/%3Cfirstchild%3E"
                    class="mobileNavigationList-link mobileNavigationList-dropdown">Компания</a>
                 <ul>
                     <li class="first"><a href="about.html">О нас</a></li>
                     <li><a href="about/history.html">Вакансии</a></li>
                     <li><a href="methodology.html">Methodology</a></li>
                     <li><a href="business-continuity.html">Business Continuity</a></li>
                     <li><a href="quality-management.html">Quality Management</a></li>
                     <li><a href="security-ipprotection.html">Security and IP Protection</a></li>
                     <li class="last"><a href="engagement-models.html">Engagement Models</a></li>
                 </ul>
             </li>
             <li class="mobileNavigationList-item"><a href="expertise.html"
                                                      class="mobileNavigationList-link mobileNavigationList-dropdown">Услуги</a>
                 <ul>
                     <li class="first"><a href="web-enterprise-portal-development.html">Разработка Web решений</a>
                     </li>
                     <li><a href="content-document-management-systems.html">Прототипирование и Web дизайн</a></li>
                     <li><a href="social-networking-software.html">Social Networking</a></li>
                     <li><a href="ecommerce.html">Маркетинг и реклама</a></li>
                     <li><a href="business-intelligence.html">SEO</a></li>
                     <li><a href="media-content-distribution.html">Соц. Сети</a></li>
                     <li><a href="business-process-automation.html">Business Process Automation</a></li>
                     <li><a href="elearning-online-training.html">Elearning and Online Training</a></li>
                     <li class="last"><a href="mobility.html">Mobility</a></li>
                 </ul>
             </li>-->
            <li class="mobileNavigationList-item"><a href="../pages/price.html"
                                                     class="mobileNavigationList-link ">Цены</a>
                <!--mobileNavigationList-dropdown-->
                <!--<ul>-->
                <!--<li class="first"><a href="services/requirements-engineering.html">Requirements Engineering</a></li>-->
                <!--<li><a href="services/design-usability.html">Prototyping &amp; UXD</a></li>-->
                <!--<li><a href="services/custom-software-development.html">Application Development</a></li>-->
                <!--<li><a href="services/application-integration.html">Application Integration</a></li>-->
                <!--<li><a href="application-security.html">Application Security</a></li>-->
                <!--<li><a href="services/quality-assurance-testing.html">QA and Testing</a></li>-->
                <!--<li><a href="services/maintenance-and-support.html">Maintenance and Support</a></li>-->
                <!--<li class="last"><a href="services/dedicated-development-centers.html">Dedicated Development-->
                <!--Teams</a>-->
                <!--</li>-->
                <!--</ul>-->
            </li>
            <!--<li class="mobileNavigationList-item">-->
            <!--<a href="technologies.html"-->
            <!--class="mobileNavigationList-link mobileNavigationList-dropdown">Technologies</a>-->
            <!--<ul>-->
            <!--<li class="first"><a href="dotnet-development.html">.NET</a></li>-->
            <!--<li><a href="java-development.html">Java</a></li>-->
            <!--<li><a href="ruby-on-rails-development.html">Ruby on Rails</a></li>-->
            <!--<li><a href="php-development.html">PHP</a></li>-->
            <!--<li><a href="python-development.html">Python</a></li>-->
            <!--<li><a href="backend-development.html">Backend</a></li>-->
            <!--<li><a href="frontend-development.html">Frontend</a></li>-->
            <!--<li><a href="cloud-solutions.html">Cloud</a></li>-->
            <!--<li class="last"><a href="mobile-technologies.html">Mobile Platforms</a></li>-->
            <!--</ul>-->
            <!--</li>-->
            <li class="mobileNavigationList-item"><a href="../pages/portfolio.html"
                                                     class="mobileNavigationList-link">Портфолио</a>
            </li>
            <li class="mobileNavigationList-item mobileNavigationList-item--border last"><a href="../contact.html"
                                                                                            class="mobileNavigationList-link">Контакты</a></li>
        </ul>
    </div>
</div>